nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    border-bottom: 1px solid brown;
}

nav a {
    text-decoration: none;
    border: 1px solid rgba(240, 248, 255, 0.600);
    border-radius: 6px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
    background-color: rgba(240, 248, 255, 0.800);
    color: #161616;
    transition: .2s;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 1rem;
}

nav .item1 {
    margin-left: 0;
}

.logo {
    width: 230px;
}